services:
  frontend:
    container_name: app_frontend
    networks:
      - app-network

  backend:
    container_name: app_backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge